@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    background-image: url('/assets/bg.gif');
    font-family: 'Ubuntu', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.search {
    margin-top: 10%;
    text-align: center;
}
.navbar {
    background-color: #00001D;
    width: 32.5%;
    height: 40px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid gray;
    text-align: center;
    margin: auto;
    left: 0px;
    right: 0px;
    bottom: 5px;
    position: fixed;
}
h1 {
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    background: linear-gradient(45deg,#FF0000,#FF7F00,#FFFF00,#00FF00,#0000FF,#04F26C,#6500FF,#04F297);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;

    -webkit-animation: rainbowanim 10s ease infinite;
    -moz-animation: rainbowanim 10s ease infinite;
    animation: rainbowanim 10s ease infinite;
  }
  @-webkit-keyframes rainbowanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes rainbowanim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes rainbowanim { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
a, button {
    font-size: 20px;
    border: 0px;
    background: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out; 
} 
a, button:hover { 
    transform: scale(1.1); 
}
input {
    color: white;
    border: 1px solid gray;
    background-color: #00001D;
    font-size: 15px;
    width: 320px;
    height: 50px;
    padding: 30px;
    border-radius: 20px;
}
.menu {
  background-color: #00001D;
  width: 69%;
  height: 80%;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid gray;
  text-align: center;
  margin: auto;
}
h2 {
    font-size: 40px;
    color: white;
    text-align: center;
}
h3 {
  font-size: 25px;
  color: white;
  text-align: center;
}
